<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ps/src/stateofde/MigrationValidator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="stateofde.MigrationValidator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;C:\Users\administrator\Desktop\Projects\StateOfDelaware\inputs\config.conf&quot; &quot;C:\Users\administrator\Desktop\Projects\StateOfDelaware\inputs\esp_dollaru_jobname_map.csv&quot;&#13;&#10;&quot;C:\Users\administrator\Desktop\Projects\StateOfDelaware\inputs\espfreq_$uRule_map.csv&quot; &quot;C:\Users\administrator\Desktop\Projects\StateOfDelaware\inputs\espjob_fathers_map.csv&quot; &quot;C:\Users\administrator\Desktop\Projects\StateOfDelaware\inputs\espjob_frequency_map.csv&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ps"/>
</launchConfiguration>
